{% extends "top_bar.html" %}
{% load static from staticfiles %}

{% block page_content %}
 <div class="panel panel-default">
  <div class="panel-heading">
   <h1 class="panel-title"><strong>Hi! I'm {{ userprofile.user.first_name }}</strong></h1>
  </div>
  <div class="panel-body">
   <div class="media">
    <div class="media-body">
     <dl>
      <dt>Age</dt>
      <dd>{{ userprofile.get_age }}</dd>
      <dt>Address</dt>
      <dd>{{ userprofile.address }}</dd>
      <dt>e-mail</dt>
      <dd>{{ userprofile.user.email }}</dd>
      <dt>Phone</dt>
      <dd>{{ userprofile.phone }}</dd>
     <dl>
    </div>
    <div class="media-right">
     <div class="media-object">
      <img src="{% if userprofile.pic %}{% static userprofile.pic.url %}{% else %}{% static "img/anonymous.png" %}{% endif %}" class="media-heading img-circle hidden-xs" style="width: 128px; height: 128px;">
      <img src="{% if userprofile.pic %}{% static userprofile.pic.url %}{% else %}{% static "img/anonymous.png" %}{% endif %}" class="media-heading img-circle visible-xs" style="width: 48px; height: 48px;">
     </div>
    </div>
   </div>
  </div>
  {% include "social_footer.html" %}
 </div>
{% endblock page_content %}
