{% extends "top_bar.html" %}
{% load staticfiles %}

{% block page_content %}
 <div class="panel panel-default">
  <div class="panel-body">
  {% for object in object_list %}
   <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: {{ object.level }}%;">
     {{ object.name }} since {{ object.from_date }}
    </div>
   </div>
  {% endfor %}
  </div>
 </div>
{% endblock page_content %}
