{% load fontawesome %} 

<div id="social-bar" class="panel-footer center-block">
 <a href="{{ social_links.github.url }}" target="_blank">{% fontawesome_icon 'github' color='#333333' large=True %}</a>
 <a href="{{ social_links.googleplus.url }}" target="_blank">{% fontawesome_icon 'google-plus' color='#E14107' large=True %}</a>
 <a href="{{ social_links.stackoverflow.url }}" target="_blank">{% fontawesome_icon 'stack-overflow' color='#FC9A24' large=True %}</a>
 <a href="{{ social_links.linkedin.url }}" target="_blank">{% fontawesome_icon 'linkedin' color='#006FA6' large=True %}</a>
 <a href="{{ social_links.researchgate.url }}" target="_blank"><i class="ai ai-researchgate ai-lg" style="color:#36A493" ></i></a>
 <a href="{{ social_links.orcid.url }}" target="_blank"><i class="ai ai-orcid ai-lg" style="color:#A6CE39" ></i></a>

</div>
