{% extends "dh5bp/base.html" %}
{% load bootstrap3 %}
{% load fontawesome %}
{% load static from staticfiles %}

{% block head %}
 <link rel="icon" type="image/x-icon" href="{% static "img/favicon.ico" %}" />
 <link rel="stylesheet" href="{% static "css/main.css" %}" />
 <link rel="stylesheet" href="{% static "css/academicons.min.css" %}" />
 {% bootstrap_css %}
 {% fontawesome_stylesheet %}

 {# Display django.contrib.messages as Bootstrap alerts #}
 {# {% bootstrap_messages %} #}
{% endblock head %}

{% block title %}X. Bello home page{% endblock %}

{% block content %}
 {% block topbar %}
  <nav class="navbar navbar-inverse">
   <div class="container-fluid">
    <div class="navbar-header">
     {# These are the three lines button #}
     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
       <span class="sr-only"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
     </button>

     <a class="navbar-brand" href="{% url "home_redirect" %}">{{ user.first_name }} {{ user.last_name }}</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar">
     <ul class="nav navbar-nav">
      <li><a href="{% url "home:skills" username=user.username %}">{% fontawesome_icon 'mortar-board' large=True %} Skills</a></li>
      <li><a href="#">{% fontawesome_icon 'wrench' large=True %} Experience</a></li>
      <li><a href="#">{% fontawesome_icon 'book' large=True %} Blog</a></li>
      <li><a href="#">{% fontawesome_icon 'envelope' large=True %} Contact</a></li>
     </ul>
    </div>
   </div>
  </nav>
 {% endblock topbar %}
 <div class="page_wrapper">
  <div class="row">
   {% block page_content %}{% endblock %}
  </div>
 </div>
{% endblock content %}

{% block post_main_script %}
 {% bootstrap_javascript %}
{% endblock %}
