.center-block {
    text-align: center;
}
.page_wrapper {
    margin: 0 15% 0 15%;
}
#social-bar a i {
    margin-right: 5px;
    min-width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 20px;
    background: #F5F5F5;
}
#social-bar a:hover i {
    background: #CCCCCC;
    transition: background 0.5s;
}
